{% extends 'layout.html' %}

{% block title %}
<title>Delete Page</title>
{% endblock %}

{% block content %}
<div class="jumbotron container">
    <form method="post">
        {% csrf_token %}
        <h1>Do you really want to delete this {{data.first_name}} record ?</h1>
        <input type="submit" value="YES" class="btn btn-outline-danger col-6">
        <a href="{% url 'order' %}"><button type="button" class="btn btn-outline-warning col-6 float-right">NO</button></a>
    </form>
</div>
{% endblock %}